body {
    margin: 0;
    padding: 0;
    background-color: #050505;
  }
  
  canvas {
    display: block;
  }
  
  .heart {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("GIRASOL.png");
    background-size: contain;
    cursor: pointer;
  }
  